/* * {
  margin: 0;
  padding: 0;
} */

body{
padding-top: 70px;
background-color: #CCCC;
}


#password-toogle {
    width: 150px;
    padding-right: 20px;
  }
  
  .olho {
    cursor: pointer;
    position: absolute;
    width: 20px;
  }

  fieldset{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    width: min-content;
    margin: 0px auto;
  }

  label, legend{
    font-weight: bold;
  }

  .botao{
    border-radius: 7px;
    background-color: green;
    color: white;
  }